* {margin: 0; padding: 0;}

a {text-decoration: none;}

html {scroll-behavior:smooth}

@font-face {
    font-family:  Poppins;
    src: url(./files/Poppins-LightItalic.ttf);}

@font-face {
        font-family: Argentum;
        src: url(./files/argentum-sans.light.ttf);
        }

@keyframes pulse 
        {
        from {background-color: #00ccff;}
        to {background-color:#105a77;}
        }        

@keyframes scale {
                from {transform: scale(0.85);}
                to {transform: scale(1);}
                }

/*MOBILE VIEW */

/*Barra/Menu Superior*/
header  {width: 100%;
        height: 75px;
        background-color: black;
        position: fixed;
        display: flex;
        justify-content: space-between;
        border-bottom: solid 2px #00d9ff;
        }

#logo   {height: 50%;
        padding-left: 20px;
        padding-top:18px;
        }
/* ========================= Botão Menu ====================================================================*/
.menu   {display: inline-block;
        cursor: pointer;
        padding-right: 20px;
        padding-top: 20px;
        padding-left: 20px;
        }
                                                        
.bar1, .bar2, .bar3 {width: 35px;
        height: 3px;
        background-color: white;
        margin: 6px;
        transition: 0.4s;
        }
                                                                
.change .bar1 {-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-8px, 8px) ;
        }

.change .bar2 {opacity: 0;}
                                                        
.change .bar3 {-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-5px, -5px) ;
        }

#divMenu {width: 80vw;
        height: calc(85vh - 77px);
        margin-top: 77px;
        position: fixed;
        margin-left: 100vw;    
        transition: 0.6s;    
        }

.changediv  {transform: translateX(-90vw);}

#cvMenu, #contactMenu, #projectsMenu, #skillsMenu {background-color: black;
        width: 100%;
        height: 25%;
        text-align: center;
        font-family: Poppins, Arial, Helvetica;
        color: white;
        font-size: 20px;
        border-bottom: solid 1px #00d9ff;
        border-left: solid 1px #00d9ff;
        border-right: solid 1px #00d9ff;
        opacity: 95%;
        }

h3 {padding-top: 44px;}
/* =======================================================================================================*/

/*Intro (Primeiro bloco [preto])*/
#intro  {width: 100%;
        height: 70vw;
        background-image:url(./files/backgroundIntro.png);
        background-size: cover;
        text-align: center;
        padding-top: 75px;
        }

#content{padding-top: 10vw;}
        
.whiteP, .whiteP2 {font-family: Poppins, Arial, Helvetica;
        color: white;
        font-size: 6vw;
        }

h1, #h2AboutMe, #h2Projects, #clickto, #h2Contact {background-image: linear-gradient(to right, #00FFD9, #008CFF);  
        background-clip: text;
        -webkit-background-clip: text;          
        -webkit-text-fill-color: transparent;
        font-family: Argentum, Helvetica, Arial;
        font-size: 9vw;
        }

#gifPlace {background-color: #043042;}

#gif    {width: 100%;}

/*Sobre mim*/
#aboutMe{width: 100%;
        height: 170vw;
        text-align: center;
        background-color: #043042;
        }

#h2AboutMe      {font-size: 8vw;
        padding: 5vw;
        }

#photo  {width: 95%;
        padding-top: 3px;
        }

#circle {background-color: #0886a5;
        border-radius: 50%;
        width: 60%;
        margin-right: auto;
        margin-left: auto;
        transition: 1s;
        animation: pulse 0.8s infinite alternate-reverse;
        }

/*Habilidades*/
#skills{width: 100%;
        height: 130vw;
        background-image: linear-gradient(150deg, #008CFF,#9500FF);
        text-align: center;    
        }

.imgs   {width: 22vw;
        padding: 2vw;
        }

#images {display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto;
        justify-content: center;
        }

#h2Skills{color: white;
        font-family: Argentum, Helvetica, Arial;
        font-size: 7.5vw;
        padding: 5vw;
        }
        
/*Projetos*/

#projects{display: block;
        width: 100%;
        height: 118vw;
        text-align: center;
        }

.whiteP2 {color: white;
        padding: 4vw;
        }

.blackP2 {font-family: Poppins, Arial, Helvetica;
        color: black;
        font-size: 6vw;
        padding: 5vw;
        padding-top: 0;
        }

h4 {padding: 0;}

#h2Projects {background-image: linear-gradient(to bottom, #9500FF,#008CFF);  
        padding: 5vw;    
        font-size: 8vw;    
        }

#clickto {background-image: linear-gradient(to right, #9500FF,#008CFF);
        font-size: 5vw;
        padding: 5vw;
        padding-top: 0;
        }

#projectsContainer {display: block;
        padding-top: 3vw;
        align-items: center;
        }

.placeProject{width: 80%;
        height: 30vw;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 2vw;
        background-color: rgb(192, 192, 192);
        }

#project1 {width: 100%; 
        cursor: pointer;
        }

/* Contato [FOOTER] */

#h2Contact {font-size: 7vw;
        padding-top: 2vw;
        }

#footer {width: 100%;
        height: 140vw;
        margin-top: 10vw;
        background-image:url(./files/footerBackground.jpg);
        background-size: cover;
        margin-bottom: 0;
        }

footer {padding-top: 22vw;}

#contactContainer {width: 100%;
        height: 90vw;
        }

.button {width: 70%;
        height: 13vw;
        border-bottom: solid 1px #2486B3;
        border-left: solid 1px #2486B3; ;
        margin: 3vw;
        margin-top: 4vw;
        margin-left: auto;
        margin-right: auto;
        transition: 1s;
        }

#buttonLinkedin {margin-top: 7vw;}

#buttonGithub {border-bottom: solid 1px white;
        border-left: solid 1px white;
        }

#buttonWhatsapp {border-bottom: solid 1px #4BCA5A;
        border-left: solid 1px #4BCA5A;
        }

#buttonInstagram {border-bottom: solid 1px #D92E7D;
        border-left: solid 1px #D92E7D;
        }

#buttonEmail {border-bottom: solid 1px #F14336;
        border-left: solid 1px #F14336;
        }

#doneBy {color: white;
        margin-top: 3vw;
        font-family: Poppins, Arial, Helvetica;
        font-size: 3vw;
        }

.icon   {height: 70%;
        color: white;
        margin-top: 2vw;
        float: left;
        padding-left: 3vw;
        }

#email {height: 50%;
        margin-top: 2.8vw;
        }

.contactText {color: white;
        float: right;
        font-family: Poppins, Arial, Helvetica;
        font-size: 4vw;
        padding-right: 3vw;
        padding-top: 3vw;
        }

#emailText {padding-top: 3vw;
        line-height: 1;
        }

#anchor1 {height: 10vw;
        transform: translateY(-15vw);
        width: 1vw;
        }

#anchor2 {height: 10vw;
        width: 1vw;
        transform: translateY(-15vw);
        }

/* DESKTOP VIEW */
@media (min-width:851px) {

nav     {display: none;}

#intro  {
        height: 27vw;
        background-image:url(./files/desktopIntroBackground.jpg);
        padding-top: 0px;
        }

#content{padding-top: 3vw;}
        
.whiteP, .whiteP2 {font-size: 2.5vw;}
 
h1, #h2AboutMe, #h2Projects, #clickto, #h2Contact, #h2Skills {font-size: 3.5vw;}

h1      {padding: 0.3vw;}

#h2AboutMe {
        padding:2vw;
        padding-top: 3.5vw;
        margin-right: 51vw;
        transform: translateY(-33vw);        }

#h2Contact{padding-bottom: 3vw;}

#gifPlace {
        margin-left: 50vw;
        background-color: white;
        overflow: hidden;
        }

#gif    {
        width: 48vw;
        transform: translateX(10px);
        }
#aboutMe {height:30vw; transform: translateY(-65px);}

#photo  {width: 23vw;
        padding-top: 3px;
        transform: translateX(0.6vw);
        }

#circle {
        width: 24vw;
        margin-left: 5vw;
        margin-right: 5vw;
        display: inline-flex ;
        transform: translateY(-34vw);
        }

.whiteP2 {
        padding: 0vw;
        margin-right: 10vw;
        font-size: 2vw;
        float: right;
        transform: translateX(-22vw) translateY(-5.5vw);

        }


#skills{height: 20vw;  
        transform: translateY(-70px);
        }

#h2Skills{
        padding: 1vw;
        padding-top: 2vw;
        }

#images {display: grid;
        width: 98vw;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
        justify-content: center;
        }

.imgs   {width:6vw;
        padding: 0.5vw;
        }

#html  {animation: scale 0.8s infinite alternate-reverse;}

#css   {animation: scale 0.8s infinite alternate-reverse;
        animation-delay: 0.1s;}

#js    {animation: scale 0.8s infinite alternate-reverse;
        animation-delay: 0.2s;}
        
#corel {animation: scale 0.8s infinite alternate-reverse;
        animation-delay: 0.3s;}
        
#photoshop {
        animation: scale 0.8s infinite alternate-reverse;
        animation-delay: 0.4s;}

#projects{
        height: 60vw;
        text-align: center;
        transform: translateY(-80px);
        }

#projectsContainer {height:27vw}

.blackP2 {font-size: 2vw;
        padding-bottom: 1.5vw ;                
}

#h2Projects {padding-bottom: 1.5vw;}

.placeProject {background-color: white;}

#project1{width: 60vw;
        background-color: white;
}

#clickto {background-image: linear-gradient(to right, #9500FF,#008CFF);
        font-size: 2vw;
        padding: 0vw;
        padding-top: 0;
        }

#footer {width: 100%;
        height: 37vw;
        margin-top: 0vw;
        background-image:url(./files/desktopFooterBackground.jpg);
        background-size: cover;
        }
        
footer {padding-top: 14vw;
}

#contactContainer {width: 100%;
        height: 3vw;
        display: inline-flex;
        justify-content: center;
        }

.button {width: 17vw;
        height: 3vw;
        padding: 10px;
        margin: 3vw;
        margin-top: 0vw;
        margin-left: auto;
        margin-right: auto;
        }

.contactText {
        font-size: 1.1vw;
        padding: 0;
        }

#buttonLinkedin {margin: 0vw;
                margin-top: 0vw;}

#buttonLinkedin:hover {background-color: #2486B3;}

#buttonGithub:hover {background-color: rgb(139, 139, 139);}

#buttonWhatsapp:hover {background-color: #4BCA5A;}
        
#buttonInstagram:hover {background-color: #D92E7D;}
        
#buttonEmail:hover {background-color: #F14336;}

#doneBy {font-size: 1vw;}
                
.icon   {height: 100%;
        margin-top: 0.5vw;
        transform: translateY(-1vw);
        padding-left: 0.5vw;}
                
#email {height: 80%;
        transform: translateY(-3.2vw);
        margin-top: 3vw;}
                
#emailText {padding-top: 0vw;}
}
